/**
 * Base SCSS
 */
svg path {
    will-change: contents;
}
.background-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#header-background {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    .mast-blob-svg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .bg path {
    }
    .bg path:first-child {
        opacity: 0.15;
    }

    .bg path:nth-child(2) {
        opacity: 0.15;
    }

    .bg path:nth-child(3) {
        opacity: 0.15;
    }

    .bg path:nth-child(4) {
        opacity: 0.15;
    }

    .bg path:nth-child(5) {
        opacity: 0.15;
    }

    .bg path:nth-child(6) {
        opacity: 0.15;
    }

    .bg path:nth-child(7) {
        opacity: 0.15;
    }
    @media screen and (max-width: 575px) {
        transform: scaleY(1.5);
    }
}
#masthead {
    position: relative;
    // overflow: hidden;
    height: auto;
    background-position: top left;
    background: linear-gradient(216.63deg, $dark-blue 21.32%, $blue 78.68%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    .container {
        position: relative;
    }

    h1 {
        font-size: 4rem;
        line-height: 1;
        color: #fff;
        margin-bottom: 3rem;
        margin-top: 0;
        opacity: 0;
        > div > div {
            margin-left: 1rem;
            display: inline-block;
            &:first-of-type {
                margin-left: 0;
            }
        }
        span {
            display: inline-block;
            transform-origin: 0 0;
            will-change: transform;
            opacity: 0;
        }
        @media screen and (max-width: 991px) {
            font-size: 3rem;
        }
        @media screen and (max-width: 575px) {
            font-size: 2.2rem;
            margin-bottom: 0;
        }
    }
    .masthead-header {
        margin: 5rem auto;
        text-align: center;
        .sub {
            opacity: 0;
        }
        // @media screen and (max-width: 575px) {
        //     padding: 12rem 0 3rem;
        // }
    }
    .sub {
        color: #f7f7f7;
    }
    .content {
        margin-top: 6rem;
    }

    @media screen and (min-height: 1080px) {
        // height:60vh;
    }
    @media screen and (max-width: 575px) {
        padding: 3rem 0 2rem;
    }
}

#home-work {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem;
    background-color: rgba(#fff, 0.15);
    border-radius: 24px;
    width: 100%;
    @media screen and (max-width: 991px) {
        padding: 3rem 2rem;
    }
    @media screen and (max-width: 575px) {
        padding: 2rem 1rem;
        gap: 2rem;
    }
    h2 {
        margin: 0;
        text-align: center;
        color: #fff;
        @media screen and (max-width: 575px) {
            font-size: 2.2rem;
        }
    }
    #hydro-row {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 2rem;
        @media screen and (max-width: 575px) {
            padding: 1rem;
        }
        .row-title {
            h3 {
                color: #fff;
                margin: 0;
                font-size: 1.6rem;
            }
            .sub {
                margin-top: 1rem;
            }
            @media screen and (max-width: 575px) {
                padding-top: 1rem;
                text-align: center;
            }
        }
        .work-row {
            display: flex;
            gap: 1.5rem;

            .work-preview {
                width: 100%;
                height: 365px;
                @media screen and (max-width: 575px) {
                    height: 250px;
                    &:before {
                        background: linear-gradient(
                            255.43deg,
                            rgba(0, 23, 31, 0) 0%,
                            rgba(0, 23, 31, 0.35) 25%,
                            rgba(0, 23, 31, 0.75) 100%
                        );
                    }
                }
            }
            @media screen and (max-width: 575px) {
                gap: 1rem;
                flex-direction: column;
            }
        }
    }
    .second-row {
        display: flex;
        gap: 1.5rem;
        > a {
            width: 35%;
            height: 18rem;
            @media screen and (max-width: 575px) {
                width: 100%;
                height: 200px;
                &:before {
                    background: linear-gradient(
                        255.43deg,
                        rgba(0, 23, 31, 0) 0%,
                        rgba(0, 23, 31, 0.35) 25%,
                        rgba(0, 23, 31, 0.75) 100%
                    );
                }
            }
        }
        .text-card {
            height: 18rem;
            border: 1px solid #fff;
            border-radius: 8px;
            padding: 2rem;
            width: 30%;
            h3 {
                margin: 0;
                font-size: 1.8rem;
                color: #fff;
            }
            color: #fff;
            .text-links {
                display: flex;
                flex-direction: column;
                gap: 0.2rem;
            }
            a {
                color: #fff;
                text-decoration: underline;
                font-weight: 600;
                padding-bottom: 0.2rem;
                border-bottom: 1px solid rgba(#fff, 0.25);
                &:last-of-type {
                    border-bottom: none;
                }
            }
            @media screen and (max-width: 575px) {
                width: 100%;
            }
        }
        @media screen and (max-width: 575px) {
            gap: 1rem;
            flex-direction: column;
        }
    }

    .blob-container {
        width: 100%;
        height: 100%;
        z-index: 2;

        border-radius: 24px;
        position: relative;
        padding: 5rem 1rem;
        @media screen and (max-width: 575px) {
            padding: 3rem 0.25rem;
        }
        overflow: hidden;
        box-shadow: 0px 20px 20px rgba($blue, 0.1);
        .blob {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            @media screen and (max-width: 767px) {
                height: 1000px;
                width: 1000px;
            }
            svg {
                z-index: 2;
                width: 100%;
                height: 100%;
            }
        }
        .container {
            z-index: 3;
        }
    }
}

#home-blog {
    background-color: $dark-gray;
    padding: 10rem 0;
    @media screen and (max-width: 575px) {
        padding: 5rem 0 3rem;
    }
    position: relative;
    h2 {
        margin-bottom: 5rem;
        color: #fff;
        @media screen and (max-width: 575px) {
            margin-bottom: 2rem;
        }
    }
    .blog-blob {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @media screen and (max-width: 767px) {
            width: 1000px;
            height: 1000px;
            top: 0;
            left: -50%;
            bottom: 0;
            right: 0;
        }
        svg {
            z-index: 1;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    .container {
        z-index: 3;
        position: relative;
    }
    @media screen and (max-width: 575px) {
        .cardWrapper {
            flex-direction: column;
        }
    }
}

#contact {
    width: 100%;
    background-attachment: fixed;
    background-image: url("/geography-blue.svg");
    background-size: cover;
    background-position: left top;

    padding: 7rem 0;
    position: relative;
    .row {
        display: flex;
        gap: 2rem;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    @media screen and (max-width: 575px) {
        padding: 2rem 0;
    }
    h2 {
        font-size: 3rem;
        text-align: center;
    }
    h3 {
        font-size: 1.5rem;
        color: #fff;
    }
    .sub {
        color: $blue;
        &.line:after {
            background-color: $blue;
        }
    }
    #about {
        position: relative;
        padding: 2rem;
        background-color: rgba(#fff, 0.5);
        border: 1px solid #fff;
        backdrop-filter: blur(5px);
        border-radius: 8px;
        width: 60%;
        @media screen and (max-width: 991px) {
            width: 45%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }

        .top-row {
            display: flex;
            align-items: center;
            gap: 2rem;
            .image {
                height: 250px;
                width: 250px;
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                }
            }
            @media screen and (min-width: 767px) and (max-width: 991px) {
                flex-direction: column;
            }
            @media screen and (max-width: 575px) {
                flex-direction: column;
                .image {
                    height: 300px;
                    img {
                        object-position: 50% 12%;
                    }
                }
            }
            .text {
                width: calc(100% - 250px);
                @media screen and (max-width: 991px) {
                    width: 100%;
                }
                .about-text-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    h4 {
                        @extend .sub;
                        margin: 0;
                    }
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }

        .image {
            z-index: 1;

            .gatsby-image-wrapper {
                height: 100% !important;
                width: 100% !important;
            }
            img {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 8px;
                @media screen and (max-width: 767px) {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }

        .socials {
            display: flex;
            align-items: center;
            svg {
                height: 32px;
                width: 32px;
                object-fit: contain;
                margin-right: 0.5rem;
            }
        }
    }
    .form {
        border: 1px solid $text-blue;

        backdrop-filter: blur(5px);
        background-color: rgba($text-blue, 0.6);
        padding: 2rem;
        border-radius: 8px;
        width: 40%;
        @media screen and (max-width: 991px) {
            width: 55%;
        }
        @media screen and (max-width: 767px) {
            width: 100%;
        }
        .status,
        .error {
            text-align: center;
            margin-top: 1rem;
            background-color: #fff;
            color: $text-blue;
            border: 1px solid $blue;
            border-radius: 8px;
            padding: 1rem;
        }
        .error {
            color: red;
            border-color: red;
        }
    }
    form > div {
        position: relative;
        margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        background-color: rgba(#fff, 0.75);
        padding: 1.2rem 1rem 1rem;
        width: 100%;
        border: 1px solid #fff;
        transition: 250ms all ease;
        border-radius: 4px;
        &:focus {
            border-color: $blue;
        }
        // &:valid {
        //     background-color: transparent;
        //     border-color: rgba($blue, 0.5);
        // }
    }
    input[type="submit"] {
        margin-top: 1rem;
        @extend .btn;
        //@extend .btn.solid;
    }
    ::placeholder {
        color: rgba($dark-gray, 0.3);
    }
    form > div > label {
        position: absolute;
        font-size: 11px;
        top: 0.3rem;
        left: 16px;
        transition: all 0.1s ease-in-out;
        z-index: 1;
        @extend .sub;
    }
}

#blog-header {
    color: #fff;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 50vh;
    padding: 5rem 0;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-gray;

    overflow: hidden;
    @media screen and (max-width: 767px) {
        height: 60vh;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .blog-blob {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        @media screen and (max-width: 767px) {
            width: 800px;
            height: 800px;
            top: 0;
            left: -50%;
            bottom: 0;
            right: 0;
        }
        svg {
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
    }

    h1 {
        color: #fff;
        font-size: 4rem;
        margin: 1rem 0;
        overflow: hidden;
        > div > div {
            margin-left: 1rem;
            display: inline-block;
            &:first-of-type {
                margin-left: 0;
            }
        }
        @media screen and (max-width: 991px) {
            font-size: 2.5rem;
        }
        span {
            display: inline-block;
            transform-origin: 0 0;
            will-change: transform;
            opacity: 0;
        }
    }
    .sub {
        position: relative;
    }

    .content {
        border: 1px solid #fff;
        padding: 5rem;
        border-radius: 8px;
        max-width: 700px;
        margin: 0 auto;
        @media screen and (max-width: 991px) {
            padding: 2rem;
        }
    }
}
#blog-posts {
    margin: -3rem auto 5rem;
}

#work-header {
    background-color: $dark-gray;
    color: #fff;
    width: 100%;
    position: relative;
    overflow: hidden;
    a:hover {
        color: lighten($blue, 30%);
    }
    .blob {
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        left: -10%;
        bottom: 0;
        @media screen and (max-width: 991px) {
            width: 300%;
            height: 100%;
            top: -10%;
            left: -120%;
        }
        @media screen and (max-width: 575px) {
            width: 300%;
            height: 600px;
            top: 0;
            left: -120%;
        }
        svg {
            z-index: 2;
            width: 100%;
            height: 100%;
            path {
                fill: $text-blue;
                fill-opacity: 0.35;
                stroke: $blue;
                stroke-opacity: 0.2;
            }
        }
    }
    h1,
    h2 {
        color: #fff;
        margin: 1rem 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
        font-weight: 500;
    }
    .regular-text {
        margin-bottom: 2rem;
    }
    a#btn-0 {
        @extend .btn;
        //@extend .btn.solid;
    }
    .col-12 {
        height: 100%;
        padding-top: 8rem;
        padding-bottom: 6rem;
    }
    &.full {
        .col-12 {
            height: 100vh;
        }
        @media screen and (min-width: 1920px) {
            .blob {
                top: -10%;
                bottom: 0;
            }
        }
    }
    .content {
        position: relative;
        z-index: 1;
        display: flex;
        margin: 8rem 0 4rem;
        @media screen and (max-width: 991px) {
            margin: 0;
            flex-direction: column;
            padding: 0 0 2rem;
        }
    }
    .text {
        width: 50%;
        padding: 5rem 3rem 5rem 0;
        z-index: 2;
        position: relative;
        @media screen and (max-width: 991px) {
            padding: 0;
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            padding: 8rem 0 2rem;
        }
    }
    .thumbnail-gallery-caption {
        width: 50%;
        .gallery-image-wrapper {
            .image-wrapper {
                height: 450px;
                img {
                    object-position: top;
                }
                @media screen and (max-width: 991px) {
                    height: 250px;
                }
            }
            span {
                text-align: center;
            }
        }
        @media screen and (max-width: 991px) {
            width: 100%;
        }
    }
    .background-image {
        opacity: 0.2;
        width: 100%;
        height: 100%;
        @media screen and (min-width: 1920px) {
        }
        @media screen and (max-width: 991px) {
            width: 100%;
            opacity: 0.25;
            z-index: 0;
        }
        .gatsby-image-wrapper {
            height: 100% !important;
            width: 100% !important;
        }

        position: absolute;
        z-index: 0;
        right: 0;
        top: 0;
    }
}

#work-body {
    margin: 3rem 0;
    .container {
        padding: 0 8rem;
        @media screen and (max-width: 991px) {
            padding: 0 2rem;
        }
    }
    h1,
    h2,
    h3,
    h4 {
        color: $text-blue;
        margin: 2rem 0 0;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    #results {
        background-color: #fff;
        border: 1px solid rgba($blue, 1);
        border-radius: 8px;
        padding: 2rem;
        margin-top: 2rem;
        h2 {
            margin: 0;
            padding: 0;
            font-size: 2rem;
        }
    }
}

#projects {
    margin: 5rem 0;
    position: relative;
    .project-card {
        display: flex;
        background-color: #fff;

        border-radius: 8px;
        margin-bottom: 5rem;
        border: 1px solid #e5e5e5;
        .text {
            padding: 3rem;
            width: 100%;
            h3 {
                font-size: 2.4rem;
                margin: 1rem 0;
            }
            p {
                margin: 0 0 1rem;
                font-size: 1rem;
            }
            h4 {
                font-family: "Jost", sans-serif;
                font-weight: 400;
                font-size: 1.2rem;
                margin: 0 0 1rem;
                line-height: 1.2;
            }
            h5 {
                margin: 0;
                color: $blue;
            }
        }
        .box-container {
            display: flex;
            gap: 1rem;
        }
        .box {
            border-radius: 8px;
            border: 1px solid #e5e5e5;
            padding: 2rem;
        }
        &.horizontal {
            .images {
                padding: 3rem;
                background-color: rgba($blue, 0.1);
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;
                position: relative;
                width: 100%;
                gap: 1%;
                justify-content: space-between;

                img {
                    border-radius: 8px;
                    border: 1px solid #e5e5e5;
                    position: relative !important;
                    width: 100% !important;
                    height: 100% !important;
                    cursor: zoom-in;
                    transition: opacity 250ms ease;
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
        &.vertical {
            flex-direction: column-reverse;
            .images {
                background-color: rgba($blue, 0.1);
                display: flex;
                justify-content: space-between;
                position: relative;
                width: 100%;
                padding: 3rem;

                img {
                    border-radius: 8px;
                    border: 1px solid #e5e5e5;
                    position: relative !important;
                    width: 24.6% !important;
                    height: 100% !important;
                }
            }
        }
    }
}

.sidebar {
    @media screen and (min-width: 992px) {
        position: sticky;
        top: 0;
        height: 100%;
    }
}
.categories-wrap {
    border-left: 1px solid $light-gray;
    padding-left: 1rem;

    margin-top: 2rem;
    a {
    }
    ul,
    li {
        list-style-type: none;
    }
    @media screen and (max-width: 992px) {
        margin-bottom: 2rem;
    }
}
.search-wrapper {
    position: relative;
    input {
        background: rgba(#fff, 0.8);
        width: 100%;
        padding: 1rem 0 1rem 1rem;
        backdrop-filter: blur(20px);
        border-radius: 8px;
    }
    .search-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: center;
    }
    margin-bottom: 1rem;
}
.navigation.pagination {
    h2 {
        display: none;
    }
    a {
        font-weight: 700;
    }
    .nav-links a,
    .nav-links span {
        margin: 0 0.2rem;
    }
}
#post-header {
    position: relative;
    margin-bottom: 4rem;
    height: 500px;
    display: flex;
    align-items: flex-end;
    .background {
        height: 500px;
        position: absolute;
        width: 100%;
        background-size: cover;
        background-color: $dark-gray;
        img,
        .gatsby-image-wrapper {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .share-button {
        &:hover {
            transition: 250ms all ease;
            color: $blue;
            svg {
                fill: $blue;
            }
        }
        svg {
            height: 20px;
            width: 20px;
        }
    }
    .content {
        position: relative;
        background-color: rgba($dark-gray, 0.9);
        border-radius: 8px;
        padding: 3rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: #fff;
        backdrop-filter: blur(5px);
        margin-bottom: -3rem;
        overflow: hidden;
        position: relative;
        svg {
            width: 100%;
            height: 100%;
            left: 0;
            position: absolute;
        }
        .blob {
            width: 600px;
            height: 600px;
            position: absolute;
            top: 0;
            left: -25%;
            bottom: 0;
            margin: auto;
            @media screen and (max-width: 767px) {
                width: 800px;
                height: 800px;
                top: -50%;
                left: -50%;
            }
            svg {
                z-index: 2;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
        @media screen and (max-width: 991px) {
            padding: 2rem;
        }
        @media screen and (max-width: 575px) {
            width: 100%;
        }
        h1 {
            font-size: 3rem;
            margin: 0 0 1rem;
            line-height: 1.2;
            color: #fff;
            z-index: 2;
            @media screen and (max-width: 575px) {
                font-size: 2rem;
            }
        }
        .sub {
            color: #fff;
            z-index: 2;
        }
        .arrow-btn {
            z-index: 2;
        }
    }
}
.blog-content {
    padding-top: 3rem;
    .regular-text {
        color: rgba($dark-gray, 0.9);
        h2,
        h3 {
            font-weight: 500;
        }
        a {
            color: $blue;
        }
        h2 {
            @media screen and (max-width: 575px) {
                font-size: 2rem;
            }
        }
        h3 {
            @media screen and (max-width: 575px) {
                font-size: 1.6rem;
            }
        }
    }
}
#post {
    padding: 1rem 0 4rem;
    p {
        margin-bottom: 2rem;
    }
}
.page-404 {
    padding: 5rem 0 0;
    background-color: $dark-gray;
    color: #fff;
    h1 {
        color: #fff;
    }
    p a {
        color: $blue;
    }
    .row {
        padding-bottom: 3rem;
    }
    .post-preview {
        margin-top: 5rem;
        margin-bottom: 0;
    }
}
